Tests/Nop.Web.MVC.Tests/obj/
Tests/Nop.Tests/obj/
Tests/Nop.Core.Tests/obj/
Tests/Nop.Data.Tests/obj/
Tests/Nop.Services.Tests/obj/
Presentation/Nop.Web/bin/
Presentation/Nop.Web/Plugins/bin/
Libraries/Nop.Core/bin/
Libraries/Nop.Data/bin/
Libraries/Nop.Services/bin/
Plugins/Nop.Plugin.Payments.PayPalDirect/obj/
Plugins/Nop.Plugin.Payments.Square/obj/
Plugins/Nop.Plugin.Payments.PayPalStandard/obj/
Plugins/Nop.Plugin.Pickup.PickupInStore/obj/
Plugins/Nop.Plugin.ExchangeRate.EcbExchange/obj/
Plugins/Nop.Plugin.ExternalAuth.Facebook/obj/
Plugins/Nop.Plugin.Payments.CheckMoneyOrder/obj/
Plugins/Nop.Plugin.Payments.Manual/obj/
Plugins/Nop.Plugin.Payments.Worldpay/obj/
Plugins/Nop.Plugin.Shipping.Fedex/obj/
Plugins/Nop.Plugin.Shipping.FixedOrByWeight/obj/
Plugins/Nop.Plugin.Shipping.UPS/obj/
Plugins/Nop.Plugin.Tax.FixedOrByCountryStateZip/obj/
Plugins/Nop.Plugin.Widgets.GoogleAnalytics/obj/
Plugins/Nop.Plugin.Widgets.NivoSlider/obj/
Presentation/Nop.Web.Framework/bin/
Presentation/Nop.Web.Framework/obj/
Presentation/Nop.Web/obj/
Libraries/Nop.Core/obj/
Libraries/Nop.Data/obj/
Libraries/Nop.Services/obj/
Plugins/Nop.Plugin.DiscountRules.CustomerRoles/obj/
.vs/NopCommerce/v15/Server/sqlite3/
Nop.Plugin.Widgets.TTTSlider/obj/
Plugins/Nop.Plugin.Widgets.TTTSlider/obj/
