@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <div class="container">
        <div class="related-pro">
            <div class="slider-items-products">
                <div class="related-block">
                    <div id="related-products-slider" class="product-flexslider hidden-buttons">
                        <div class="home-block-inner">
                            <div class="block-title">
                                <h2>@T("Products.AlsoPurchased")</h2>
                                <div class="hidden-xs hidden-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                            </div>
                        </div>
                        <div class="slider-items slider-width-col4 products-grid block-content">
                            @foreach (var item in Model)
                            {
                                @await Html.PartialAsync("_ProductBoxSlider", item)
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
