@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <!-- Special Product Slider -->
    <section class="new-arrivals-pro">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12 featured-add-box">
                    <div class="featured-add-inner" style="height: 446px;">
                        <a href="#"> <img src="~/Themes/Vitara/Content/images/banner7.jpg" alt="f-img"></a>
                        <div class="banner-content">
                            <div class="banner-text">Grinder Mixer</div>
                            <div class="banner-text1">49% off</div>
                            <p>on selected products</p>
                            <a href="#" class="view-bnt">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12 featured-pro-block">
                    <div class="slider-items-products">
                        <div class="new-arrivals-block">
                            <div id="new-arrivals-slider" class="product-flexslider hidden-buttons">
                                <div class="home-block-inner">
                                    <div class="block-title">
                                        <h2>@T("HomePage.Products")</h2>
                                    </div>
                                </div>
                                <div class="slider-items slider-width-col4 products-grid block-content">
                                    @foreach (var item in Model)
                                    {
                                        @await Html.PartialAsync("_ProductBoxSlider", item)
                                    }
                                    <!-- End Item -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

