@model ProductDetailsModel
@{
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
}
@if (Model.CompareProductsEnabled)
{
    <li>
        <span class="separator">|</span> 
        <a class="link-compare" href="#" onclick="AjaxCart.addproducttocomparelist('@addtocomparelink');return false;">
            @*<span>@T("Products.Compare.AddToCompareList")</span>*@        
        </a>
    </li>
}