@model CategoryNavigationModel
@if (Model.Categories.Count > 0)
{
    @*<div class="block block-category-navigation">
        <div class="title">
            <strong></strong>
        </div>
        <div class="listbox">
            <ul class="list"></ul>
        </div>
    </div>*@

    <div class="side-nav-categories">
        <div class="block-title">@T("Categories")</div>
        <!--block-title-->
        <!-- BEGIN BOX-CATEGORY -->
        <div class="box-content box-category">
            <ul>
                @foreach (var category in Model.Categories)
                {
                    var categoryLineModel = new CategoryNavigationModel.CategoryLineModel
                    {
                        CurrentCategoryId = Model.CurrentCategoryId,
                        Category = category
                    };
                    @await Html.PartialAsync("_CategoryLine.Navigation", categoryLineModel)
                }
            </ul>
        </div>
        <!--box-content box-category-->
    </div>
}