@model IList<CategoryModel>

@{
    var zzGroup = Model.GroupBy(x => x.ParentId).Select(x => new
    {
        key = x.Key,
        subs = x
    }).ToList();
}

@if (Model.Count > 0)
{
    @foreach (var cat in zzGroup)
    {
        var parent = new CategoryModel();
        if(!cat.subs.Any())
        {
            continue;
        }
        else
        {
            parent = Model.FirstOrDefault(z => z.Id == cat.key);

            if (parent == null) {
                continue;
            }
        }
        <div class="content-page">
            <div class="container">
                <!-- featured category -->
                <div class="category-product">
                    <div class="navbar nav-menu">
                        <div class="navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li>
                                    <div class="new_title">
                                        <h2>@parent.Name</h2>
                                    </div>
                                </li>
                                @{
                                    int j = 0;
                                    foreach (var item in cat.subs)
                                    {
                                        if (!item.Products.Any())
                                        {
                                            continue;
                                        }
                                        <li class="@(j==0?"active":"")"><a data-toggle="tab" href="#tab-@item.Id">@item.Name</a> </li>
                                        j++;
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="product-bestseller">
                        <div class="product-bestseller-content">
                            <div class="product-bestseller-list">
                                <div class="tab-container">
                                    @{
                                        int i = 0;
                                        foreach (var item in cat.subs)
                                        {
                                            if (!item.Products.Any())
                                            {
                                                continue;
                                            }
                                            <div class="tab-panel @(i==0 ?"active":"")" id="tab-@item.Id">
                                                <div class="products-grid category-products for-slider slider-items slider-items-products block-content owl-carousel owl-theme">
                                                    @foreach (var prod in item.Products)
                                                    {
                                                        @await Html.PartialAsync("_ProductBoxSlider", prod)
                                                    }

                                                </div>
                                            </div>
                                            i++;
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
